.container1 {
  display: flex;
  flex-wrap: wrap;
}
.box {
  display: flex;
  flex-wrap: wrap;
}
.item1 {
  flex: 1;
  padding: 20px;
  height: 200px;
  margin: 10px;
}
.item2 {
  flex: 1;

  padding: 20px;
  margin: 10px;
  height: 200px;
}
.title {
  background-color: white;
}

.paylink {
  text-decoration: none;
  background-color: grey;
  color: white;
  padding: 5px;
}
.paylink:hover {
  background-color: #97694f;
}

@media (max-width: 768px) {
  .container2 {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
  }
}
