body {
  background-image: url('../Asset/index.jpg');
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.btn {
  
  border: none;
  padding: 1.2rem;
  border-radius: 4px;
  font-size: 24px;
  background: black;
  color: rgb(142, 173, 31);
  font-family: Courier New;
}

.btn:hover {
  box-shadow: 2px 2px 25px 10px rgb(65, 64, 64);
}

@media (max-width: 768px) {
  body {
  
    background-image: url('../Asset/mock31.jpg');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    
    width: 100%;
  }
}
