.myWork {
	background-color:#F3F2F1;
	width:100%;
	display:flex;
	

}
.container{
	padding:30px;
}
.right{
	
	width:50%;

}
.myWork h2{
	 
	background-color: #B6AFA9	;
	width:150px;
	margin-bottom: 3px;
}


#image7{
		width:50%;
		   background-color: #F3F2F1 ;
	}
@media (max-width: 768px) {
	.para
	 {
		width:100%;
	}
	#image7{
		
		
		  display:none;
		   
	}
}