* {
	box-sizing:border-box;
  margin:0;
  padding:0;
}
body{
  height:100vh;
  background-color: #252525;
  color:#ebebeb;
  font-family:sans-serif;

}
.container{
  width:95%;
  margin:auto;
  margin-top:60px;


}
 h1,h2,h3,h4 {
  font-family:Courier New;
  background-color:#fff44f;
  color:black;
  width:250px;
  
}

.navbar{
	display:flex;
	background-color: black;
  width:100%;
  align-items: center;
  position:fixed;
  top:0;
  z-index: 10;
  

}
.navbar a{
font-family:Courier;

	color:#fff44f;
	padding:14px 20px;
	text-align:center;
	text-decoration:none;
  
  margin-right: 30px;
}
.navbar a:visited  {
  background-color:#252525;
  color:#ffef00;
  }
.navbar a:hover  {
	background-color:#252525;
	color:#ffef00;
  box-shadow: 0 0 15px white;
}
.left{
  flex:10;

}
.right{
  flex:1;
}
.row{
	background-color: #F5F5DC;
	padding:20px;
  
	
    text-align:center;
}
.image1{
 
  padding-top:20px;
  text-align:center;
}
.fakeimg {
  background-color: #dfd8bf;
  height:300px;
  padding: 20px;
}
.content h2{
  margin:auto;
}
.twitter{
  text-align:center;
}
blockquote.twitter-tweet{
 background-color: #252525;
}
.heading{
  text-align:auto;
}


.side {
  flex: 50%;
  
  padding: 20px;
}


.main {
  flex: 50%;
  padding: 20px;
}
.footer {
  
  color:#fff44f;
  background-color:black;
  text-align: center;
  width:100%; 
  bottom:0;
  margin-top:40px;
  margin-bottom: 3px;

}

.img{
  width:100%;
  position:relative;
}
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

input {
  display: none;
}
.submenu{
  overflow:scroll;
margin:auto;
  width:50%;
  height:600px;

}

/*position the label*/
label {
  position: relative;
  display: block;
  cursor: pointer;
}

/*show the submenu when input is checked*/
input.submenu {
  display: block;
}